@model _521Assignment3.Models.ActorDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/start/jquery-ui.css" integrity="sha384-01WuRmrvEBcOCopQ6jdZlWPPFiXvhcF3ST+/YhEf+W3RBj6+DsJoRsG2JSWVygyh" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha384-Ft/vb48LwsAEtgltj7o+6vtS2esTU9PCpDqcXs4OCVQFZu5BqprHtUCZ4kjK+bpE" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha384-4D3G3GikQs6hLlLZGdz5wLFzuqE9v4yVGAcOH86y23JqBDPzj9viv0EqyfIa6YUL" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.css" integrity="sha384-30pU1avnn31lEc+b5AZW2eFG5rNaULzXd9gHMk0bDtJkK1YAUfizWx1vEK4SbT7A" crossorigin="anonymous">
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.js" integrity="sha384-apERv/vfl/R6zmx+HUeBeGTjYRpHuiF1JRYCuBd9KhRME4NTtll1FkO+CelUWYgp" crossorigin="anonymous"></script>

<h1>Details</h1>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.IMDBLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.IMDBLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Photo)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Actor.Photo != null)
            {

                <img width="100" height="100" src="@Url.Action("GetActorPhoto", "Actor", new {Model.Actor.Id})" />
            }
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Actor.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>




<div>
   

    Average Tweet Sentiment:
    @if (Model.SentimentAvg() != 0)
    {
        <span>@string.Format("{0:n2}", Math.Abs(Model.SentimentAvg()) * 100)%</span>
    }

    @if (Model.SentimentAvg() > 0)
    {
        <span>positive</span>
    }
    else if (Model.SentimentAvg() < 0)
    {
        <span>negative</span>
    }
    else
    {
        <span>neutral</span>
    }
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Sentiment
                </th>
                <th>
                    Tweet
                </th>
            </tr>
        </thead>
    <tbody>
            @foreach (var tweet in Model.Tweets)
            {
                <tr>
                    <td>
                        @tweet.Sentiment
                    </td>
                    <td>
                        @tweet.Tweet
                    </td>
                </tr>
            }
    </tbody>
    </table>
</div>
